color1 = #a6a6a6
color2 = #1f1f1f
color3 = #ff6600
fonte = Verdana, Geneva , Tahoma,sans-serif
.header{

    background-color: color2
    }
.logo{
        position relative
        left 12px
}
.menu{
    position absolute
    text-align: center
    width: 30%
    top: 8%
    left: 70%
    ul{
        list-style none
        width: 85%
        height: 50%
        li{
            color #ff8300
            display inline
            font-size 90%
            font-family fonte
            margin-right 4px
    }
    
}
}
.banner {
    width: 1280px
    height 600px
    }

.principal{
    position absolute
    background-color: color1
    article {
        position relative
        display inline-block
        width: 33%
        font-family: fonte
        
    }
    a {
        background-color: color3
        font-size: 100%
        text-decoration: none 
        color: color2
        position relative
        padding: 5px 15px 5px 15px
        text-align: center
        font-family: fonte
        border-radius: 10px
        bottom: 1%


    }
}

